/* Styles.css */

/* Phân chia mỗi hàng thành 4 cột */
.dishes-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Các sản phẩm sẽ được căn giữa */
}

/* Viền cho mỗi sản phẩm */
.dish {
    width: calc(25% - 2rem); /* Để có 4 sản phẩm trên mỗi hàng, chiếm 25% và trừ đi khoảng cách giữa các sản phẩm */
    margin-bottom: 2rem; /* Khoảng cách giữa các sản phẩm */
    border: 1px solid #ddd; /* Màu và độ dày của viền */
    padding: 1rem; /* Khoảng cách giữa nội dung và viền */
    box-sizing: border-box; /* Đảm bảo rằng viền không tăng kích thước của phần tử */
}

/* Chỉnh lại kích thước hình ảnh để nó không bị vượt ra khỏi khu vực chứa */
.dish img {
    max-width: 100%;
    height: auto;
}
.detail-button {
    background-color: #f44336; /* Màu đỏ */
    border: none;
    color: white; /* Màu chữ trắng */
    padding: 1rem 2rem; /* Kích thước đệm */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer; /* Con trỏ hiệu ứng khi di chuột qua nút */
    border-radius: 0.4rem; /* Bo tròn góc */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

/* Hiệu ứng hover cho nút Details */
.detail-button:hover {
    background-color: #d32f2f; /* Màu đỏ nhạt khi di chuột qua */
}
