.dish {
    flex-basis: calc(18% - 10px); /* Điều chỉnh kích thước cố định của mỗi sản phẩm và điều chỉnh lại khoảng cách */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px; /* Giảm khoảng cách bên phải để các sản phẩm sát nhau */
}

.dish img {
    max-width: 400px;
    max-height: 680px; 
    width: auto;
    height: auto;
    display: block;
}

/* Đặt vị trí của .detail-button */
.detail-button {
    background-color: red; /* Đổi màu nền của nút button thành đỏ */
    color: white;
    padding: 10px 20px; /* Điều chỉnh padding của nút button */
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    left: 0; /* Đặt left là 0 để nút button bắt đầu từ cạnh trái của .dish */
    right: 0; /* Đặt right là 0 để nút button kết thúc tại cạnh phải của .dish */
    margin: 0 auto; /* Để căn giữa nút button theo chiều ngang */
    text-align: center; /* Để căn giữa nội dung của nút button */
}

/* Chiều rộng của .dish-details sẽ tự động co giãn để bao phủ nút button */
.dish-details {
    padding: 10px;
    background-color: #f9f9f9;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px; /* Tăng margin bottom để tạo không gian cho nút button */
}

/* Loại bỏ margin bên dưới cho .dish */
.dish:last-child {
    margin-bottom: 0;
}


.detail-button:hover {
    background-color: darkred; /* Đổi màu nền của nút button khi di chuột qua thành màu đỏ đậm */
}


.row {
    display: flex;
    justify-content: center; /* Căn các ô sản phẩm theo trục ngang */
}

.dishes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Căn các ô sản phẩm theo trục ngang */
}
a.detail-button {
    margin-bottom: -10px;
}